@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --text-color: rgba(255, 255, 255, 0.5);
  --heading-color: rgb(255, 255, 255);
}
@font-face {
  font-family: Miama;
  src: url(Miama.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

body {
  background: black;
  margin: 15px 25px;
  border: 2px solid white;
}

/* common heading and text  */
.common-heading {
  font-size: 3rem;
  font-weight: 900;
  color: var(--heading-color);
  text-align: center;
}
.common-text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
}
.heading-text {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
/* nav and banner  */
.menu-icon {
  height: 20px;
  width: 20px;
  display: none;
  color: var(--heading-color);
}
.name {
  color: rgb(230, 83, 60);
  font-weight: 800;
  font-size: 2.25rem;
}
nav > ul a {
  color: var(--text-color);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}
nav ul {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul li {
  width: 140px;
  text-align: center;
}
.link-one {
  border-radius: 12px;
  background: #e9381d;
  color: #ffffff;
}
.miama {
  font-family: Miama;
  color: var(--heading-color);
  font-weight: 400;
  font-size: 5rem;
}
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
.banner {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.banner-div1,
.banner-div2 {
  width: 100%;
  height: 500px;
}
.banner-div2 {
  position: relative;
}

.banner-div2 > img {
  width: 40%;
  height: 100%;
}
.video-div1 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 5px 8px;
  position: absolute;
  top: 25%;
  right: 53%;
}
.video-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 8px;
  gap: 3px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 28%;
  left: -3%;
}
.banner-div1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
}

.banner-heading {
  color: var(--heading-color);
  font-weight: 800;
  font-size: 5rem;
}
.banner-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.5rem;
}
.banner-btn {
  height: 40px;
  width: 170px;
  margin: 5px;
  text-align: center;
  color: #ffffff;
  border-radius: 2.5rem;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  outline: none;
  margin-right: 8px;
}
/* footer section  */
.footer-grid {
  padding: 10px 15px;
  margin: 10px 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.align-start {
  align-self: flex-start;
}
footer .footer-grid ul li {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 5px 0;
}
.hr-tag {
  color: var(--text-color);
  width: 98%;
  margin: 12px 0 12px 0;
}
/* meet team section  */
.meet-team-main {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}
.meet-team {
  width: 100%;
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  row-gap: 40px;
}
.person-section {
  width: 100%;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.person-section > img {
  width: 90%;
  height: 100%;
  border-radius: 16px;
}
.introduction {
  position: absolute;
  bottom: 8%;
  left: 10%;
}
.meet-name {
  color: var(--heading-color);
  font-weight: 800;
  font-size: 1.5rem;
}
.profession {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
}
/* bmi section  */
.bmi-section{
 display: flex;
}
.bmi-table{
  border-collapse: collapse;
  width: 70%;
  height: 150px;
}
.bmi-table td{
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 5% ;
}
.bmi-input{
  width: 60%;
  border: 2px solid white;
}
/* for small screen  */
@media screen and (max-width: 576px) {
  /* nav section  */
  .menu-icon {
    display: block;
  }
  nav ul {
    display: none;
  }
  .banner {
    margin: 10px auto;
    flex-direction: column;
  }
  .banner-div1 {
    height: auto;
  }
  .banner-heading {
    font-size: 4rem;
  }
  .banner-div2 {
    text-align: center;
    height: 300px;
  }
  .video-div1 {
    top: 10%;
    right: 7%;
  }
  .video-div2 {
    bottom: 21%;
    left: 10%;
  }
  /* footer section  */
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    place-items: start;
    row-gap: 10px;
  }
  .hr-tag {
    color: var(--text-color);
    width: 80%;
    margin: 12px 0 12px 0;
  }
  /* meet team section  */
  .meet-team {
    width: 100%;
    padding: 25px 0;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}
